@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Gruppo&display=swap');

/*CSS variables*/
:root {
--primary-font: "Gilda display", sans-serif;
--secondary-font:"Gruppo",  sans-serif;
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

#logo {
    font-family: var(--secondary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    text-align: center;
}

h4 {
    font-weight: bold;
}

#logo {
    font-family: var(--secondary-font);
}

/*Subscription form*/
#sign-up-form {
    background-color: lightgray;
}

#newsletter {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 10px;
}

#sign-up {
    padding: 10px;
    margin: 10px;
}

.sign-up-button {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

/*About us page*/
#about-us-page h4 {
    text-align: left;
}

/*Founder image*/
#founder-image {
    height: 450px;
    width: 450px;
}

/*Co-founder image*/
#co-founder-image {
    height: 450px;
    width: 450px;
}


/*Contact us*/
#contact-us-page p,
h4 {
text-align: center;
}

#contact-us-form {
  /*this is a W3school style*/
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

#contact-us-image {
    height: 600px;
    width: 500px;
}









/*Footer*/
#social-medias {
text-align: center;
padding: 15px 0;
display: flex;
justify-content: space-evenly;
list-style-type: none;
}

#social-medias i {
    color: black;
}

