@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Gruppo&display=swap');

/*CSS variables*/
:root {
--primary-font: "Gilda display", sans-serif;
--secondary-font:"Gruppo",  sans-serif;
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
}

#logo {
    font-family: var(--secondary-font);
}












/*Footer*/
#social-medias {
text-align: center;
padding: 15px 0;
display: flex;
justify-content: space-evenly;
list-style-type: none;
}

#social-medias i {
    color: black;
}