@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Italiana&display=swap');

/*CSS variables*/
:root {
--primary-font: "Gilda display", sans-serif;
--secondary-font:"Italiana",  sans-serif;
--primary-color:#e7dcca;
--secondary-color: #494931; 
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

#logo {
    font-family: var(--secondary-font);
    font-size: 2rem;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    text-align: center;
}

h4 {
    font-weight: bold;
}

p {
    padding: 0 20px;
}

#logo {
    font-family: var(--secondary-font);
}

#navbar {
padding-top: 10px;
padding-bottom: 5px;
background-color: #ffff;
}

.navbar-nav {
    color: black;
    
}

#cover-text-1 {
    background-color: transparent;
    font-size: 200%;
    position: absolute;
    width: 80%;
    bottom: 30px;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 900;
}

#cover-text-2 {
    background-color: transparent;
    font-size: 200%;
    position: absolute;
    width: 80%;
    bottom: 30px;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 900;
}

#cover-text-3 {
    background-color: transparent;
    font-size: 200%;
    position: absolute;
    width: 80%;
    bottom: 30px;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 900;
}

#cover-text-4 {
    background-color: transparent;
    font-size: 200%;
    position: absolute;
    width: 80%;
    bottom: 30px;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 900;
}




/*Subscription form*/
#newsletter {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 10px;
}

#subscribe{
    padding: 10px;
    margin: 10px;
}

#subscription-form h2 {
    font-weight: 250;
}

.subscribe-button {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

/*About us page*/
#about-us-page h4 {
    text-align: left;
    padding: 0 20px;
}

#about-us-page p {
    margin-bottom: 20px;
}

/*Founder image*/
#founders {
    background-color: var(--primary-color);
}

#founder-image {
    height: 450px;
    width: 450px;
    padding: 20px;
    margin: 15px;
}

/*Co Founder image*/
#co-founder-image {
    height: 450px;
    width: 450px;
    padding: 20px;
    margin: 15px;
    
}

#founders p {
    text-align: center;
    line-height: 7px;
}



/*Contact us*/
#contact-us {
    background-color: var(--primary-color);
    text-align: center;
    margin-top: 1rem;
    padding: 5px;
}

#contact-us-form {
  /*this is a W3school style*/
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  text-align: left;
}

#contact-us-image {
    height: 600px;
    width: 500px;
    margin-top: 2rem;
}

#contact-info{
    text-align: center;
    margin-top: 1rem;
    padding: 5px;
}



/*Opening & Closing times section*/











/*Footer*/
#social-medias {
text-align: center;
padding: 15px 0;
display: flex;
justify-content: space-evenly;
list-style-type: none;
background-color: var(--secondary-color);
}

#social-medias i {
    color: #ffff;
}

